<%- include('../partials/header'); -%>
<%- include('../partials/main_nav'); -%>
<p>Welcome to <%= title %></p>
<main class="container">
<div class="row">

        <h1><%= title %></h1>
        <%if(typeof displayName =='string' && displayName && isAdmin){%>
        <a href="/bookList/add" class="btn btn-primary" role="button">
            <i class ="fas fa-plus-circle"></i>Add a Book</a>
            <%}%>
        <br>
        <table class = "table table-bordered table-striped table-hover">
            <tr>
                <th class="text-content col-2">Title</th>
                <th class="text-content col-2">Author</th>
                <th class="text-content col-1">Year</th>
                <th class="col-4">Description</th>
                <th class="col-2">Rating</th>
                <th class="text-content col-1">Price</th>
                <%if(typeof displayName =='string' && displayName){%>
                <th class="text-content col-1"></th>
                <th class="text-content col-1"></th>
                <%}%>
                </tr>
           <% for(let count = 0; count<BookList.length; count++){ %>
            <tr>
                <td class = "text-center col-2"><%=BookList[count].name%></td>
                <td class = "text-center col-2"><%=BookList[count].author%></td>
                <td class = "text-center col-1"><%=BookList[count].published%></td>
                <td class = "col-4"><%=BookList[count].description%></td>
                <td class = "col-2">
                <% for(let count1 = 0; count1<BookList[count].stars; count1++){ %>

                 <img src="/assets/images/star.png" alt="Star" class="star" />

                      <%}%>
                </td>
                <td class = "text-center col-1"><%=BookList[count].price%></td>
                <%if(typeof displayName =='string' && displayName && isAdmin){%>
                <td class ="text-center col-1"><a href="/bookList/edit/<%=BookList[count]._id%>" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>Edit</a></td>
                <td class ="text-center col-1"><a href="/bookList/delete/<%=BookList[count]._id%>" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</a></td>    
            <%}%>
            <%if(typeof displayName =='string' && displayName ){%>
                            <td class ="text-center col-1"><a href="/bookList/view/<%=BookList[count]._id%>" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>View</a></td>
                            <td class ="text-center col-1"><a href="/bookList/delete/<%=BookList[count]._id%>" class="btn btn-success"><i class="fas fa-trash-alt"></i>Comment</a></td>
                        <%}%>
            </tr>
                <%}%>
            </table>


    </div>
    </main>
<%- include('../partials/bottom_nav'); -%>
<%- include('../partials/footer'); -%>