<%-include ('../partials/header.ejs');%>
<%-include ('../partials/main_nav.ejs');%>

<!--content for the Add page-->
<div class = "container">
    <div class = "row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class = "form" method="POST">
                <div class ="form group">
                    <label for="nameTextField">Contact Name</label>
                    <input type="text" class="form control"
                           id="nameTextField"
                           placeholder="Enter the Contact name"
                           name="name" required>
                </div>

                <div class ="form group">
                    <label for="authorTextField">Email</label>
                    <input type="text" class="form control"
                           id="authorTextField"
                           placeholder="Enter the Email"
                           name="email" required>
                </div>

                <div class ="form group">
                    <label for="PriceTextField">Number</label>
                    <input type="number" class="form control"
                           id="priceTextField"
                           placeholder="Enter the Number"
                           name="number" required>
                </div>
                <button class = "btn btn-primary" type="submit"><i class = "fas fa-edit"></i>submit</button>
                <a href="/contactList" class="btn btn-warning"><i class="fas fa-undo"></i>cancel</a>

            </form>
        </div>
    </div>
</div>

<%- include('../partials/bottom_nav'); -%>
<%- include('../partials/footer'); -%>

